body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color:#e55d5d;
    color: white;
    padding: 10px 0;
    border-color: rgb(28, 122, 165);
    border-width: 1ch;
    border-style: line;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align:center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 30px;
    text-align: left;
}

footer {
    background-color: #e55d5d;
    color: white;
    text-align: center;
    padding: 10px;
    position:relative;
    width: 100%;
    bottom: 0;
}
